<%= form_for @changeset, @action, fn f -> %>
  <%= input f, :title, label: "Titre" %>
  <%= input f, :content, label: "Recette", using: :textarea, input_html: [rows: 14] %>

  <div class="field is-grouped">
    <div class="control"><%= submit "Soumettre", class: "button is-primary" %></div>
    <div class="control"><%= link "Retour", to: recipe_path(@conn, :index), class: "button is-link" %></div>
  </div>
<% end %>