<div class="recipe-show">
  <h1 class="title is-3">
    <%= @recipe.title %>
  </h1>

  <div class="recipe-content">
    <%= @recipe.content %>
  </div>

  <%= link 'Back', to: recipe_path(@conn, :index) %>
</div>