.recipes {
  margin-bottom: 40px;

  .recipe {
    margin-bottom: 30px;
    .title-wrapper {
      display: inline-block;
      .title a {
        color: $dark;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
